img{
    height: 370px;
    width: 300px;
}
.card{
    margin-bottom: 10px;
}

.loading{
    height: 75vh;
}

@media screen and (max-width: 750px) {
    img{
        height: 200px;
        width: 140px;
    }
  }